In [132]:
# !pip install geonamescache

In [12]:
import pandas as pd
import numpy as np
import geonamescache
import re
from unidecode import unidecode
%matplotlib inline

In [13]:
# get and view dataset; convert to pandas dataframe
data = pd.read_csv("data/headlines.txt", sep="\n", names=['headline', 'countries', 'cities'])
data

                                              headline  countries  cities
0                             Zika Outbreak Hits Miami        NaN     NaN
1                      Could Zika Reach New York City?        NaN     NaN
2                    First Case of Zika in Miami Beach        NaN     NaN
3              Mystery Virus Spreads in Recife, Brazil        NaN     NaN
4              Dallas man comes down with case of Zika        NaN     NaN
5                    Trinidad confirms first Zika case        NaN     NaN
6               Zika Concerns are Spreading in Houston        NaN     NaN
7                Geneve Scientists Battle to Find Cure        NaN     NaN
8                The CDC in Atlanta is Growing Worried        NaN     NaN
9                   Zika Infested Monkeys in Sao Paulo        NaN     NaN
10               Brownsville teen contracts Zika virus        NaN     NaN
11   Mosquito control efforts in St. Louis take new...        NaN     NaN
12   San Juan reports 1st U.S. Zika-related death a...        NaN     NaN
13                    Flu outbreak in Galveston, Texas        NaN     NaN
14                  Zika alert â€“ Manila now threatened        NaN     NaN
15                      Zika afflicts 7 in Iloilo City        NaN     NaN
16                New Los Angeles Hairstyle goes Viral        NaN     NaN
17                       Louisiana Zika cases up to 26        NaN     NaN
18                Orlando volunteers aid Zika research        NaN     NaN
19                 Zika infects pregnant woman in Cebu        NaN     NaN
20                 Chicago's First Zika Case Confirmed        NaN     NaN
21               Tampa Bay Area Zika Case Count Climbs        NaN     NaN
22      Bad Water Leads to Sickness in Flint, Michigan        NaN     NaN
23                      Baltimore plans for Zika virus        NaN     NaN
24           London Health Unit Tracks Mad Cow Disease        NaN     NaN
25      Zika cases in Vietnam's Ho Chi Minh City surge        NaN     NaN
26                 Philadelphia experts track pandemic        NaN     NaN
27                              Flu season hits Boston        NaN     NaN
28             Scientists in Paris to look for answers        NaN     NaN
29            Key Zika Findings in San Diego Institute        NaN     NaN
..                                                 ...        ...     ...
620                How to Avoid Chikungunya in Hampton        NaN     NaN
621                          Zika Reported in Sao Jose        NaN     NaN
622            Case of Norovirus Reported in Stratford        NaN     NaN
623             How to Avoid Hepatitis E in South Bend        NaN     NaN
624                  Hepatitis C Outbreak in Bethlehem        NaN     NaN
625                  Davenport is infested with Dengue        NaN     NaN
626  Rumors about Swine Flu spreading in Suzhou hav...        NaN     NaN
627          Malaria Vaccine is now Required in Elyria        NaN     NaN
628                    Zika case reported in Antioquia        NaN     NaN
629              Case of Swine Flu Reported in Tbilisi        NaN     NaN
630               Chikungunya has not Left Pismo Beach        NaN     NaN
631                            Zika spreads to La Joya        NaN     NaN
632               Influenza Keeps Spreading in Suffolk        NaN     NaN
633  More people in Allentown are infected with Chl...        NaN     NaN
634              Mad Cow Disease re-emerges in Bedford        NaN     NaN
635  Authorities are Worried about the Spread of He...        NaN     NaN
636                        Zika Outbreak in Yurimaguas        NaN     NaN
637                          Dengue Outbreak in Easton        NaN     NaN
638                    Varicella has Arrived in Milton        NaN     NaN
639       New medicine wipes out Meningitis in Sevilla        NaN     NaN
640  Authorities are Worried about the Spread of Va...        NaN     NaN
641          More Zika patients reported in Fort Worth        NaN     NaN
642             Zika symptoms spotted in Boynton Beach        NaN     NaN
643                     Outbreak of Zika in Portoviejo        NaN     NaN
644                       Influenza Exposure in Muscat        NaN     NaN
645  Rumors about Rabies spreading in Jerusalem hav...        NaN     NaN
646              More Zika patients reported in Indang        NaN     NaN
647  Suva authorities confirmed the spread of Rotav...        NaN     NaN
648         More Zika patients reported in Bella Vista        NaN     NaN
649                     Zika Outbreak in Wichita Falls        NaN     NaN

[650 rows x 3 columns]

In [14]:
# get names oc countries and cities to match against; convert to dataframe
gc = geonamescache.GeonamesCache()
countries = gc.get_countries()

countries = pd.DataFrame.from_dict(countries, orient='index')

cities = gc.get_cities()
cities = pd.DataFrame.from_dict(cities, orient='index')
cities.head()

,geonameid,name,latitude,longitude,countrycode,population,timezone,admin1code
1000501,1000501,Grahamstown,-33.30422,26.53276,ZA,91548,Africa/Johannesburg,05
1000543,1000543,Graaff-Reinet,-32.25215,24.53075,ZA,62896,Africa/Johannesburg,05
100077,100077,AbÅ« Ghurayb,33.30563,44.18477,IQ,900000,Asia/Baghdad,07
1001860,1001860,Giyani,-23.30246,30.71868,ZA,37024,Africa/Johannesburg,09
1002851,1002851,Ga-Rankuwa,-25.61692,27.99471,ZA,68767,Africa/Johannesburg,10

In [15]:
# 1. clean up country names
country_names = unidecode(countries['name'].str.cat(sep = "|")
                          .replace(" ", "\s")
                          .replace("-", "\-"))

# 2. build a regex with all country names
regexp_country = f"(?i)({country_names})"

# 3. extract matches using the above regex and populate countries column in dataframe
data['countries'] = data['headline'].astype('str').str.extract(regexp_country, expand=True)

# repeat above 3 steps for cities column
city_names = unidecode(cities['name'].str.cat(sep = "|")
                       .replace(" ", "\s")
                       .replace("-", "\-")
                      .replace("`", "")
                      .replace("|", r"\b|\b"))
regexp_city = f"({city_names})"
data['cities'] = data['headline'].astype('str').str.extract(regexp_city, expand=True)
data.describe()

                              headline countries cities
count                              650        19    608
unique                             648        12    566
top     Spanish Flu Outbreak in Lisbon    Brazil  Miami
freq                                 2         3      5

In [16]:
# view final result
# data
# import numpy as np
# # np.random.seed(100)
# test_headlines = np.random.choice(data['headline'], 20)
# for test_headline in test_headlines:
#     print(test_headline)
#     print(re.search(regexp_city, test_headline))
#     print(re.search(regexp_country, test_headline))

In [17]:
data.drop('countries', axis=1, inplace=True)
data.dropna(axis=0, how ='any', inplace=True)
data.drop_duplicates(subset='headline', inplace=True)
data.describe()

                                                 headline cities
count                                                 606    606
unique                                                606    566
top     Schools in Bentonville Closed Due to Hepatitis...  Miami
freq                                                    1      5

In [102]:
latitude = []
longitude = []
countrycode = []

for city in data['cities'].values:
    city_alternatives = gc.get_cities_by_name(unidecode(city))   
    try:
        best_alternative = max(city_alternatives, key=lambda x: list(x.values())[0]['population'])
    except:
        best_alternative = {'No result': {'geonameid': None, 'name': None, 'latitude': None, 'longitude': None, 'countrycode': None, 'population': None, 'timezone': None, 'admin1code': None}}

    best_city = list(best_alternative.values())[0]
#     print(best_alternative)
    
    latitude.append(best_city['latitude'])
    longitude.append(best_city['longitude'])
    countrycode.append(best_city['countrycode'])
data['latitude'] = latitude
data['longitude'] = longitude
data['countrycode'] = countrycode

# # print(data['latitude'])
data.head(600)

,headline,cities,latitude,longitude,countrycode
0,Zika Outbreak Hits Miami,Miami,25.77427,-80.19366,US
1,Could Zika Reach New York City?,New York City,40.71427,-74.00597,US
2,First Case of Zika in Miami Beach,Miami,25.77427,-80.19366,US
3,"Mystery Virus Spreads in Recife, Brazil",Recife,-8.05389,-34.88111,BR
4,Dallas man comes down with case of Zika,Dallas,32.78306,-96.80667,US
5,Trinidad confirms first Zika case,Trinidad,-14.83333,-64.90000,BO
6,Zika Concerns are Spreading in Houston,Houston,29.76328,-95.36327,US
7,Geneve Scientists Battle to Find Cure,Geneve,NaN,NaN,None
8,The CDC in Atlanta is Growing Worried,Atlanta,33.74900,-84.38798,US
9,Zika Infested Monkeys in Sao Paulo,Sao Paulo,NaN,NaN,None
10,Brownsville teen contracts Zika virus,Brownsville,25.90175,-97.49748,US
11,Mosquito control efforts in St. Louis take new...,St. Louis,38.62727,-90.19789,US
12,San Juan reports 1st U.S. Zika-related death a...,San Juan,-31.53750,-68.53639,AR
13,"Flu outbreak in Galveston, Texas",Galveston,29.30135,-94.79770,US
14,Zika alert â€“ Manila now threatened,Manila,14.60420,120.98220,PH
15,Zika afflicts 7 in Iloilo City,Iloilo,10.69694,122.56444,PH
16,New Los Angeles Hairstyle goes Viral,Los Angeles,34.05223,-118.24368,US
18,Orlando volunteers aid Zika research,Orlando,28.53834,-81.37924,US
20,Chicago's First Zika Case Confirmed,Chicago,41.85003,-87.65005,US
21,Tampa Bay Area Zika Case Count Climbs,Tampa,27.94752,-82.45843,US
22,"Bad Water Leads to Sickness in Flint, Michigan",Flint,43.01253,-83.68746,US
23,Baltimore plans for Zika virus,Baltimore,39.29038,-76.61219,US
24,London Health Unit Tracks Mad Cow Disease,London,51.50853,-0.12574,GB
25,Zika cases in Vietnam's Ho Chi Minh City surge,Ho Chi Minh City,10.82302,106.62965,VN
26,Philadelphia experts track pandemic,Philadelphia,39.95233,-75.16379,US
27,Flu season hits Boston,Boston,42.35843,-71.05977,US
28,Scientists in Paris to look for answers,Paris,48.85341,2.34880,FR
29,Key Zika Findings in San Diego Institute,San,13.30335,-4.89562,ML
30,Thailand-Zika Virus in Bangkok,Bangkok,13.75398,100.50144,TH
31,Beijing team cracks Zika secret,Beijing,39.90750,116.39723,CN
...,...,...,...,...,...
611,Hepatitis D Exposure in Aswan,Aswan,24.09082,32.89942,EG
612,Will Gonorrhea vaccine help East Moline?,East Moline,41.50087,-90.44430,US
613,New medicine wipes out Influenza in Redlands,Redlands,34.05557,-117.18254,US
614,How to Avoid Contaminated Meat when Visiting B...,Basel,47.55839,7.57327,CH
615,More Zika patients reported in Kampong Speu,Kampong Speu,11.45332,104.52085,KH
616,Alameda Residents Recieve Rabies vaccine,Alameda,37.76521,-122.24164,US
617,Mad Cow Disease Detected in Lyon,Lyon,45.74846,4.84671,FR
618,Memphis Encounters Severe Symptoms of Swine Flu,Memphis,35.14953,-90.04898,US
619,Zika Troubles come to Delray Beach,Delray Beach,26.46146,-80.07282,US
620,How to Avoid Chikungunya in Hampton,Hampton,37.02987,-76.34522,US
621,Zika Reported in Sao Jose,Sao Jose,NaN,NaN,None
622,Case of Norovirus Reported in Stratford,Stratford,41.18454,-73.13317,US
623,How to Avoid Hepatitis E in South Bend,South Bend,41.68338,-86.25001,US
624,Hepatitis C Outbreak in Bethlehem,Bethlehem,-28.23078,28.30707,ZA
625,Davenport is infested with Dengue,Davenport,41.52364,-90.57764,US
626,Rumors about Swine Flu spreading in Suzhou hav...,Suzhou,31.30408,120.59538,CN
627,Malaria Vaccine is now Required in Elyria,Elyria,41.36838,-82.10765,US
629,Case of Swine Flu Reported in Tbilisi,Tbilisi,41.69411,44.83368,GE
632,Influenza Keeps Spreading in Suffolk,Suffolk,36.72836,-76.58496,US
633,More people in Allentown are infected with Chl...,Allentown,40.60843,-75.49018,US
634,Mad Cow Disease re-emerges in Bedford,Bedford,52.13459,-0.46632,GB
635,Authorities are Worried about the Spread of He...,Yiwu,29.31506,120.07676,CN
636,Zika Outbreak in Yurimaguas,Yurimaguas,-5.90181,-76.12234,PE
637,Dengue Outbreak in Easton,Easton,40.68843,-75.22073,US
638,Varicella has Arrived in Milton,Milton,43.51681,-79.88294,CA
639,New medicine wipes out Meningitis in Sevilla,Sevilla,37.38283,-5.97317,ES
640,Authorities are Worried about the Spread of Va...,Clovis,36.82523,-119.70292,US
641,More Zika patients reported in Fort Worth,Fort Worth,32.72541,-97.32085,US
642,Zika symptoms spotted in Boynton Beach,Boynton Beach,26.52535,-80.06643,US
643,Outbreak of Zika in Portoviejo,Portoviejo,-1.05458,-80.45445,EC